.parent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    >div{
        width: 30%;
        height: 500px;
        padding-top: 5px;
    }
}